


<!--- manipulated by jquery see: menu-popup.jquery.js--->
<!--- manipulated by css see: navigation-bar.css--->

<div class = "image-container" id = "federal-container"></div>
<div class = "image-container" id = "state-container"></div>
<div class = "image-container" id = "news-container"></div>
<div class = "image-container" id = "who-container"></div>
<div class = "image-container" id = "tools-container"></div>




<ul id="navlist">
			    <li><a id = "link1" class="itemSelected" href='/'>Home</a></li>
			    <li><a id = "link2" href='/'>Advocate</a></li>
			    <li><a id = "link4" href='/'>News</a></li>   
				<li><a id = "link5" href='/'>About Us</a></li>
</ul>

