<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 	<title>{% block title %}{%if page_title%}{{ page_title }} - {%endif%} {{ site_name }}{%endblock%}</title>
 	<meta name="keywords" content="{{ meta_keywords }}"/>
	<meta name="description" content="{{ meta_description}}"/>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/css.css"/>
 	{% block includes %} {% endblock %}
 	{% block headers %}  {% endblock %}
</head>
<body>
	{% block site_wrapper %} {% endblock %}
</body>
</html>	

